body {
  font-family: 'Open Sans';
  font-size: 16px;
}

svg {
  display: block;
  max-height: 100%;
}

td {
  height: 30px;
  width: 30px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

table {
  border: 10px solid #533939;
}

/* https://vuejs.org/v2/api/#v-cloak */
[v-cloak] {
  display: none;
}

.badge-player-black-on {
  border: 2px solid #2ba9e1;
  background-color: #000000;
  color: #ffffff;
}

.badge-player-black-off {
  border: 2px solid white;
  background-color: #000000;
  color: #ffffff;
}

.badge-player-white-on {
  border: 2px solid #2ba9e1;
  background-color: #ffffff;
  color: #000000;
}

.badge-player-white-off {
  border: 2px solid white;
  background-color: #ffffff;
  color: #000000;
}
