<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Go game for the browser</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>

    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>

    <script type="text/x-template" id="stone-template">
      <g :fill-opacity="opacity">
        <circle cx="18" cy="18" r="12" fill="black" :fill-opacity="0.2*opacity"/>
        <circle cx="15" cy="15" r="12" :fill="fill" />
      </g>
    </script>

    <script type="text/x-template" id="background-template">
      <g>
        <rect x="0" y="0" width="30" height="30" fill="#e8b060" />
        <rect v-for="rectangle in rectangles(col, row, 30.0, num_rows)"
              :x="rectangle.x"
              :y="rectangle.y"
              :width="rectangle.width"
              :height="rectangle.height"
              fill="#533939" />
      </g>
    </script>

    <div id="app" v-cloak>
      <div class="container">

        <div class="row top-buffer">
          <div class="col">
            <div v-if="num_consecutive_passes == num_colors" class="alert alert-dismissible alert-danger">
              {{ num_players }} consecutive passes: game has ended.
            </div>
          </div>
        </div>

        <div class="row top-buffer">

          <div class="col">
            <table>
              <tbody>
                <tr v-for="row in (0, num_rows)">
                  <td v-for="col in (0, num_columns)">
                    <div @mouseover="mouse_over(col, row)"
                         @mouseout="mouse_out(col, row)"
                         @click="click(col, row)">
                      <svg width="30" height="30">
                        <background :col="col" :row="row" :num_rows="num_rows"></background>
                        <stone v-if="board[[col, row]] == 0"
                               :opacity="shadow_opacity[[col, row]]"
                               :fill="color(color_current_move)"></stone>
                        <stone v-if="board[[col, row]] == 1" :opacity="1.0" fill="black"></stone>
                        <stone v-if="board[[col, row]] == 2" :opacity="1.0" fill="white"></stone>
                        <stone v-if="board[[col, row]] == 3" :opacity="1.0" fill="red"></stone>
                        <stone v-if="board[[col, row]] == 4" :opacity="1.0" fill="blue"></stone>
                      </svg>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div> <!-- board -->

          <div class="col">

            <div class="form-group">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="radio_9" value="9" v-model="board_size" checked="">
                <label class="form-check-label" for="radio_9">9x9</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="radio_13" value="13" v-model="board_size">
                <label class="form-check-label" for="radio_13">13x13</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="radio_19" value="19" v-model="board_size">
                <label class="form-check-label" for="radio_19">19x19</label>
              </div>
            </div>
            <div class="form-group">
              <select v-model="num_players" id="num_players">
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
              <label for="num_players">players</label>
            </div>
            <div class="form-group">
              <button v-on:click="pass" type="button" class="btn btn-xs btn-primary btn-file">pass</button>
              <button v-on:click="reset" type="button" class="btn btn-xs btn-success btn-file">start a new game</button>
            </div>

            <div class="form-group">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="score_checkbox" checked="" v-model="show_score">
                <label class="custom-control-label" for="score_checkbox">show live score (area scoring)</label>
              </div>
            </div>
            <div v-if="show_score">
              {{ score }}
            </div>

          </div> <!-- right panel -->

        </div>

      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <script src="js/app.js"></script>
  </body>
</html>
